.mb-4 {
    margin-bottom: 10px;
}
form.login-form,
div.login-form {
    background-color: #fff;
    border: 1px solid #f3f3f3;
    border-radius: 10px;
    padding: 50px 100px;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 10px 20px rgba(0, 0, 0, 0.04);
}
a {
    text-decoration: none;
    font-size: 12px;
    color: #333;
    /* margin-top: 10px; */
    margin-bottom: 20px;
}
a:hover {
    color: #85bd26;
}
