.headerLayout {
  position: relative;
  padding: 1rem;
  background: #E1F0C7;
}
.link {
  display: inline-block;
  text-decoration: none;
  display: flex;
  font-size: 16px;
  font-weight: 600;
  color: #333333;
}
.logout {
  padding: 10px 20px;
  font-weight: 600;
  color: #fff;
  background-color: #f56565;
  border-radius: 4px;
  cursor: pointer;
}