.mobile-layout {
    max-width: 375px;
    width: 100%;
    margin: 0 auto;
    min-height: 100vh;
}
.mobile-wrapper {
    padding: 16px;
}
.title {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.wrapper {
    margin-top: 16px;
    flex-direction: column;
}
.active {
    background-color: #424749;
    color: #fff;
}
input[type="text"] {
   padding: 1px 2px;
   border: none;
   background-color: transparent;
   outline: none;
 }
.search {
    width: 100%;
    display: inline-block;
}
.search-form {
   width: 100%;
   display: flex;
   padding: 16px;
   margin-top: 16px;
   align-items: center;
   border: solid 2px #f1f1f2;
 }
.modal-wrapper {
   margin-top: 1rem;
   margin-bottom: 1rem;
}
.add-btn {
    padding: 10px 20px;
    font-size: 14px;
    color: #333;
    background-color: #E1F0C7;
    border-radius: 4px;
    display: flex;
    align-items: center;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
}
table {
    border-collapse: collapse;
    width: 100%;
}
  
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
  
tr:nth-child(even) {
    background-color: #dddddd;
}